<!doctype html>
<html>
   <head>
      <!-- Using Bootstrap, so that we're `responsive`! -->
      <!-- Bootstrap requires the following three meta tags to fully function -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Javascript and Cascading Style Sheets (css) libraries -->
      <!-- mostly from content delivery networks                 -->
      <!-- jquery; CDN load is usually quick because it's likely cached -->
      <script type="text/javascript"
         src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- 12 column grid rearranges itself for smaller screens or windows. -->
      <!-- This project is using an older version, make sure to check out newer versions! -->
      <!-- http://getbootstrap.com/getting-started/  -->
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
         crossorigin="anonymous">
      <!-- Compiled and minified JavaScript -->
      <script
         src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
         integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
         crossorigin="anonymous"></script>
      <!-- Let's set our title! -->
      <title>Vocabulary Anagram: Success!</title>
   </head>
   <body>
      <div class="container">
         <h1>That was awesome!</h1>
         <p>Let's <a href="/index">do it again</a>.</p>
      </div>
   </body>
</html>
